.github .box {
  z-index: 2;
  width: 200px;
  height: 200px;
  position: fixed;
  overflow: hidden;
  right: var(--null-space);
  bottom: var(--null-space);
}

.github .box div, .github .box div a {
  flex-direction: column;
  display: var(--flex-display);
  align-items: var(--center-align);
}

.github .box div {
  z-index: 1;
  width: 100%;
  height: 100%;
  top: var(--null-space);
  right: var(--null-space);
  justify-content: flex-end;
  transform: rotate(-45deg);
  position: var(--absolute-position);
}

.github .box:after {
  content: "";
  display: block;
  left: var(--null-space);
  right: var(--null-space);
  bottom: var(--null-space);
  z-index: var(--null-space);
  position: var(--absolute-position);
  border-top: 200px solid transparent;
  border-left: 200px solid transparent;
  border-bottom: 200px solid #343535;
}

.github .box div a {
  color: #fff;
  font-size: 16px;
  margin: 0 0 -12.8px;
  text-decoration: none;
  font-family: monospace;
  padding: 3px 25px 25px 25px;
  -webkit-text-decoration: none;
  transition: color .15s cubic-bezier(1,-.115,.975,.855);
}

.github .box div a:focus, .github .box div a:hover {
  color: #a6a6a6;
}

.github p {
  color: currentColor;
  margin-top: var(--primary-space);
  margin-bottom: var(--primary-space);
}

.github .icon {
  width: 35px;
  height: 35px;
  fill: currentColor;
}