:root {
  --third-color: #e8e8e8;
  --primary-color: #222831;
  --secondary-color: #f2f2f2;
  --third-theme-color: #e8e8e8;
  --primary-theme-color: #222831;
  --transparent-color: transparent;
  --secondary-theme-color: #24b3fb;
  --null-space: 0;
  --auto-space: auto;
  --none-space: none;
  --full-space: 100%;
  --primary-space: 1em;
  --quarter-space: 25px;
  --secondary-space: 2em;
  --primary-font-size: 15px;
  --flex-display: flex;
  --center-align: center;
  --absolute-position: absolute;
  --relative-position: relative;
  --pointer-cursor: pointer;
  --primary-border: 2px solid var(--primary-color);
}

.dark {
  --third-color: #353535;
  --primary-color: #e8e8e8;
  --secondary-color: #353535;
}

body {
  margin: var(--null-space);
  height: 100vh;
  transition: all 0.3s;
  color: var(--primary-color);
  font-family: var(--primary-font-family);
  background-color: var(--secondary-color);
}

main {
  display: grid;
  padding: 15px 20px;
  justify-content: var(--center-align);
}

input, textarea {
  margin-top: 10px;
  transition: .4s ease-in-out;
  color: var(--primary-color);
  border: var(--primary-border);
  font-size: var(--primary-font-size);
  font-family: var(--primary-font-family);
  background-color: var(--secondary-color);
}

input::placeholder {
  color: var(--primary-color);
}

button {
  font-weight: bold;
  transition: .4s ease-in-out;
  cursor: var(--pointer-cursor);
  border: var(--primary-border);
  color: var(--primary-theme-color);
  font-size: var(--primary-font-size);
  font-family: var(--secondary-font-family);
  background-color: var(--secondary-theme-color);
}

button:hover {
  box-shadow: 6px 6px 0px var(--primary-color);
  transform: translateX(-0.5em) translateY(-0.5em);
}

button:active {
  transition: .2s;
  box-shadow: var(--none-space);
  transform: translateX(0em) translateY(0em);
}

form {
  gap: 10px;
  padding: 2.5em;
  flex-direction: column;
  top: var(--null-space);
  left: var(--null-space);
  right: var(--null-space);
  bottom: var(--null-space);    
  transition: .4s ease-in-out;
  display: var(--flex-display);
  border: var(--primary-border);
  background-color: var(--secondary-color);
}

h1 {
  font-size: var(--secondary-space);
  font-family: var(--secondary-font-family);
}

h2 {
  font-size: 1.2em;
  font-family: var(--secondary-font-family);
}

a {
  color: var(--primary-color);
  text-decoration: var(--none-space);
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--primary-color);
  font-size: var(--primary-space);
}

hr {
  width: var(--full-space);
  margin: var(--null-space);
  border: 1px solid var(--primary-color);
}

textarea {
  resize: none;
  height: 250px;
  padding: 0.7em;
  outline: var(--none-space);
  background: var(--none-space);
  border: var(--primary-border);
}

textarea::placeholder {
  color: var(--primary-color);
}

.page {
  gap: 50px;
  display: var(--flex-display);
}

.page.home {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 25px;
}