:root {
  --third-color: #e8e8e8;
  --primary-color: #222831;
  --secondary-color: #975757;
  --third-theme-color: #e8e8e8;
  --primary-theme-color: #222831;
  --transparent-color: transparent;
  --secondary-theme-color: #24b3fb;
  --null-space: 0;
  --auto-space: auto;
  --none-space: none;
  --full-space: 100%;
  --primary-space: 1em;
  --quarter-space: 25px;
  --secondary-space: 2em;
  --primary-font-size: 15px;
  --flex-display: flex;
  --center-align: center;
  --absolute-position: absolute;
  --relative-position: relative;
  --pointer-cursor: pointer;
  --primary-border: 2px solid var(--primary-color);
}

.dark {
  --third-color: #353535;
  --primary-color: #e8e8e8;
  --secondary-color: #353535;
}

textarea {
  margin-top: 10px;
  transition: .4s ease-in-out;
  color: var(--primary-color);
  border: var(--primary-border);
  font-size: var(--primary-font-size);
  font-family: var(--primary-font-family);
  background-color: var(--secondary-color);
}

hr {
  width: var(--full-space);
  margin: var(--null-space);
  border: 1px solid var(--primary-color);
}

textarea {
  resize: none;
  height: 250px;
  padding: 0.7em;
  outline: var(--none-space);
  background: var(--none-space);
  border: var(--primary-border);
}

textarea::placeholder {
  color: var(--primary-color);
}

.page {
  gap: 50px;
  display: var(--flex-display);
}