.main-wrapper {
  height: 30em;
  display: var(--flex-display);
  align-items: var(--center-align);
  justify-content: var(--center-align);
}

.main {
  margin-top: 5em;
  flex-direction: column;
  display: var(--flex-display);
  align-items: var(--center-align);
  justify-content: var(--center-align);
}

.antenna {
  width: 5em;
  height: 5em;
  z-index: -1;
  margin-left: 0em;
  border-radius: 50%;
  margin-bottom: -6em;
  background-color: #f27405;
  border: 2px solid var(--primary-theme-color);
}

.antenna-shadow {
  width: 47px;
  height: 55px;
  border-radius: 45%;
  margin-left: 1.68em;
  transform: rotate(140deg);
  position: var(--absolute-position);
  background-color: var(--transparent-color);
  border: 4px solid var(--transparent-color);
  box-shadow:
    inset 0px 16px #a85103,
    inset 0px 16px 1px 1px #a85103;
  -moz-box-shadow:
    inset 0px 16px #a85103,
    inset 0px 16px 1px 1px #a85103;
}

.antenna::after {
  content: "";
  height: 0.5em;
  border-radius: 50%;
  margin-top: -9.4em;
  margin-left: 0.4em;
  transform: rotate(-25deg);
  background-color: #f69e50;
  width: var(--primary-space);
  position: var(--absolute-position);
}

.antenna::before {
  content: "";
  width: 1.5em;
  height: 0.8em;
  margin-top: 0.2em;
  border-radius: 50%;
  margin-left: 1.25em;
  transform: rotate(-20deg);
  background-color: #f69e50;
  position: var(--absolute-position);
}

.a1 {
  top: -99%;
  left: -120%;
  width: 12em;
  height: 5.5em;
  border-radius: 50px;
  transform: rotate(-29deg);
  background-image: linear-gradient(
    var(--primary-theme-color),
    var(--primary-theme-color),
    #353535,
    #353535,
    var(--primary-theme-color)
  );
  position: var(--relative-position);
  clip-path: polygon(50% 0%, 49% 100%, 52% 100%);
}

.a1d {
  top: -211%;
  left: -35%;
  z-index: 99;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  transform: rotate(45deg);
  background-color: #979797;
  position: var(--relative-position);
  border: 2px solid var(--primary-theme-color);
}

.a2 {
  top: -205%;
  left: -10%;
  width: 12em;
  height: 4em;
  margin-right: 5em;
  border-radius: 50px;
  transform: rotate(-8deg);
  position: var(--relative-position);
  background-color: var(--primary-theme-color);
  clip-path: polygon(
    47% 0,
    47% 0,
    34% 34%,
    54% 25%,
    32% 100%,
    29% 96%,
    49% 32%,
    30% 38%
  );
  background-image: linear-gradient(
    var(--primary-theme-color),
    var(--primary-theme-color),
    #353535,
    #353535,
    var(--primary-theme-color)
  );
}

.a2d {
  left: 94%;
  top: -294%;
  z-index: 99;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #979797;
  position: var(--relative-position);
  border: 2px solid var(--primary-theme-color);
}

.notfound-text {
  z-index: 10;
  color: white;
  padding-top: 3px;
  font-size: 0.75em;
  letter-spacing: 0;
  border-radius: 5px;
  padding-bottom: 3px;
  padding-left: var(--primary-space);
  padding-right: var(--primary-space);
  background-color: var(--primary-theme-color);
}

.tv {
  width: 18em;
  height: 10em;
  margin-top: 3em;
  background-color: #d36604;
  display: var(--flex-display);
  border-radius: var(--primary-space);
  justify-content: var(--center-align);
  box-shadow: inset 0.2em 0.2em #e69635;
  border: 2px solid var(--primary-theme-color);
}

.tv::after {
  content: "";
  width: 18em;
  height: 10em;
  opacity: 0.09;
  background:
    repeating-radial-gradient(#d36604 0 0.0001%, #00000070 0 0.0002%) 50% 0/2500px
      2500px,
    repeating-conic-gradient(#d36604 0 0.0001%, #00000070 0 0.0002%) 60% 60%/2500px
      2500px;
  background-blend-mode: difference;
  position: var(--absolute-position);
  border-radius: var(--primary-space);
}

.curve-svg {
  width: 12px;
  height: 12px;
  margin-top: 0.25em;
  margin-left: -0.25em;
  fill: var(--primary-theme-color);
  position: var(--absolute-position);
}

.display-div {
  display: var(--flex-display);
  align-self: var(--center-align);
  align-items: var(--center-align);
  border-radius: var(--primary-space);
  justify-content: var(--center-align);
  box-shadow: 3.5px 6.5px 0px #e69635;
}

.screen-out {
  border-radius: 10px;
  width: var(--auto-space);
  height: var(--auto-space);
}

.screen-out1 {
  width: 11em;
  height: 7.75em;
  border-radius: 10px;
  display: var(--flex-display);
  align-items: var(--center-align);
  justify-content: var(--center-align);
}

.screen {
  z-index: 99;
  width: 13em;
  height: 7.85em;
  color: #252525;
  font-weight: bold;
  border-radius: 10px;
  letter-spacing: 0.15em;
  background:
    repeating-radial-gradient(#000 0 0.0001%, #ffffff 0 0.0002%) 50% 0/2500px
      2500px,
    repeating-conic-gradient(#000 0 0.0001%, #ffffff 0 0.0002%) 60% 60%/2500px
      2500px;
  display: var(--flex-display);
  text-align: var(--center-align);
  align-items: var(--center-align);
  background-blend-mode: difference;
  animation: b 0.2s infinite alternate;
  justify-content: var(--center-align);
  font-family: var(--secondary-font-family);
  border: 2px solid var(--primary-theme-color);
}

.screenM {
  width: 13em;
  height: 7.85em;
  position: var(--relative-position);
  font-family: var(--secondary-font-family);
  background: linear-gradient(
    to right,
    #002fc6 0%,
    #002bb2 14.2857142857%,
    #3a3a3a 14.2857142857%,
    #303030 28.5714285714%,
    #ff0afe 28.5714285714%,
    #f500f4 42.8571428571%,
    #6c6c6c 42.8571428571%,
    #626262 57.1428571429%,
    #0affd9 57.1428571429%,
    #00f5ce 71.4285714286%,
    #3a3a3a 71.4285714286%,
    #303030 85.7142857143%,
    white 85.7142857143%,
    #fafafa 100%
  );
  border-radius: 10px;
  border: 2px solid var(--primary-theme-color);
  z-index: 99;
  display: var(--flex-display);
  align-items: var(--center-align);
  justify-content: var(--center-align);
  font-weight: bold;
  color: #252525;
  letter-spacing: 0.15em;
  text-align: var(--center-align);
  overflow: hidden;
}

.screenM:before,
.screenM:after {
  content: "";
  position: var(--absolute-position);
  left: 0;
  z-index: 1;
  width: var(--full-space);
}

.screenM:before {
  top: 0;
  height: 68.4782608696%;
  background: linear-gradient(
    to right,
    white 0%,
    #fafafa 14.2857142857%,
    #ffe60a 14.2857142857%,
    #f5dc00 28.5714285714%,
    #0affd9 28.5714285714%,
    #00f5ce 42.8571428571%,
    #10ea00 42.8571428571%,
    #0ed600 57.1428571429%,
    #ff0afe 57.1428571429%,
    #f500f4 71.4285714286%,
    #ed0014 71.4285714286%,
    #d90012 85.7142857143%,
    #002fc6 85.7142857143%,
    #002bb2 100%
  );
}

.screenM:after {
  bottom: 0;
  height: 21.7391304348%;
  background: linear-gradient(
    to right,
    #006c6b 0%,
    #005857 16.6666666667%,
    white 16.6666666667%,
    #fafafa 33.3333333333%,
    #001b75 33.3333333333%,
    #001761 50%,
    #6c6c6c 50%,
    #626262 66.6666666667%,
    #929292 66.6666666667%,
    #888888 83.3333333333%,
    #3a3a3a 83.3333333333%,
    #303030 100%
  );
}

@keyframes b {
  100% {
    background-position:
      50% 0,
      60% 50%;
  }
}

.lines {
  display: var(--flex-display);
  column-gap: 0.1em;
  align-self: flex-end;
}

.line1,
.line3 {
  width: 2px;
  height: 0.5em;
  background-color: var(--primary-theme-color);
  border-radius: 25px 25px 0px 0px;
  margin-top: 0.5em;
}

.line2 {
  flex-grow: 1;
  width: 2px;
  height: var(--primary-space);
  background-color: var(--primary-theme-color);
  border-radius: 25px 25px 0px 0px;
}

.buttons-div {
  width: 4.25em;
  align-self: var(--center-align);
  height: 8em;
  background-color: #e69635;
  border: 2px solid var(--primary-theme-color);
  padding: 0.6em;
  border-radius: 10px;
  display: var(--flex-display);
  align-items: var(--center-align);
  justify-content: var(--center-align);
  flex-direction: column;
  row-gap: 0.75em;
  box-shadow: 3px 2.5px 0px #e69635;
}

.b1 {
  width: 1.65em;
  height: 1.65em;
  border-radius: 50%;
  background-color: #7f5934;
  border: 2px solid var(--primary-theme-color);
  box-shadow:
    inset 2px 2px 1px #b49577,
    -2px 0px #513721,
    -2px 0px 0px 1px var(--primary-theme-color);
}

.b1::before {
  content: "";
  position: var(--absolute-position);
  margin-top: var(--primary-space);
  margin-left: 0.5em;
  transform: rotate(47deg);
  border-radius: 5px;
  width: 0.1em;
  height: 0.4em;
  background-color: var(--primary-theme-color);
}

.b1::after {
  content: "";
  position: var(--absolute-position);
  margin-top: 0.9em;
  margin-left: 0.8em;
  transform: rotate(47deg);
  border-radius: 5px;
  width: 0.1em;
  height: 0.55em;
  background-color: var(--primary-theme-color);
}

.b1 div {
  content: "";
  position: var(--absolute-position);
  margin-top: -0.1em;
  margin-left: 0.65em;
  transform: rotate(45deg);
  width: 0.15em;
  height: 1.5em;
  background-color: var(--primary-theme-color);
}

.b2 {
  width: 1.65em;
  height: 1.65em;
  border-radius: 50%;
  background-color: #7f5934;
  border: 2px solid var(--primary-theme-color);
  box-shadow:
    inset 2px 2px 1px #b49577,
    -2px 0px #513721,
    -2px 0px 0px 1px var(--primary-theme-color);
}

.b2::before {
  content: "";
  position: var(--absolute-position);
  margin-top: 1.05em;
  margin-left: 0.8em;
  transform: rotate(-45deg);
  border-radius: 5px;
  width: 0.15em;
  height: 0.4em;
  background-color: var(--primary-theme-color);
}

.b2::after {
  content: "";
  position: var(--absolute-position);
  margin-top: -0.1em;
  margin-left: 0.65em;
  transform: rotate(-45deg);
  width: 0.15em;
  height: 1.5em;
  background-color: var(--primary-theme-color);
}

.speakers {
  display: var(--flex-display);
  flex-direction: column;
  row-gap: 0.5em;
}

.speakers .g1 {
  column-gap: 0.25em;
  display: var(--flex-display);
}

.speakers .g1 .g11,
.g12,
.g13 {
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  background-color: #7f5934;
  border: 2px solid var(--primary-theme-color);
  box-shadow: inset 1.25px 1.25px 1px #b49577;
}

.speakers .g {
  height: 2px;
  width: var(--auto-space);
  background-color: var(--primary-theme-color);
}

.bottom {
  column-gap: 8.7em;
  width: var(--full-space);
  height: var(--auto-space);
  display: var(--flex-display);
  align-items: var(--center-align);
  justify-content: var(--center-align);
}

.base1 {
  z-index: -1;
  margin-top: -0.15em;
  background-color: #4d4d4d;
  height: var(--primary-space);
  width: var(--secondary-space);
  border: 2px solid var(--primary-theme-color);
}

.base2 {
  height: var(--primary-space);
  width: var(--secondary-space);
  border: 2px solid var(--primary-theme-color);
  background-color: #4d4d4d;
  margin-top: -0.15em;
  z-index: -1;
}

.base3 {
  position: var(--absolute-position);
  height: 0.15em;
  width: 17.5em;
  background-color: var(--primary-theme-color);
  margin-top: var(--primary-space);
}

@media (max-width: 275px), (max-height: 520px) {
  .main {
    position: var(--relative-position);
  }
}

@media only screen and (max-width: 1024px) {
  .screenM {
    display: var(--flex-display);
  }
  .screen {
    display: var(--none-space);
  }
}

@media only screen and (min-width: 1025px) {
  .screen {
    display: var(--flex-display);
  }
  .screenM {
    display: var(--none-space);
  }
}