.header {
  padding: 15px 20px;
  margin-bottom: 20px;
}

.header .element {
  padding: 0px 30px;
  display: var(--flex-display);
  justify-content: space-between;
  border-bottom: 2px solid var(--primary-color);
}

.header .box {
  gap: 20px;
  display: var(--flex-display);
  align-items: var(--center-align);
  margin-bottom: var(--primary-space);
  justify-content: var(--center-align);
}

.header .logo {
  width: 75px;
  height: 75px;
}

.header .picture {
  border-radius: var(--full-space);
  border: 2px solid var(--primary-color);
}

.header .menu {
  height: var(--full-space);
  display: var(--flex-display);
  text-align: var(--center-align);
  align-items: var(--center-align);
}