button.info {
  width: var(--quarter-space);
  height: var(--quarter-space);
}

button.info:hover {
  box-shadow: none;
  transform: none;
}

.popup {
  z-index: 10;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(15, 6, 25, .4);
}

.popup .box {
  display: flex;
  background-color: var(--secondary-color);
  width: 50em;
  padding: var(--quarter-space);
  gap: 20px;
}

.popup button {
  width: var(--quarter-space);
  height: var(--quarter-space);
}

.popup hr, .popup p {
  margin-bottom: 20px;
}