.panel {
  gap: 10px;
  padding: 2.5em;
  flex-direction: column;
  transition: .4s ease-in-out;
  display: var(--flex-display);
  border: var(--primary-border);
  background-color: var(--secondary-color);
}

.panel.book {
  min-width: 875px;
  max-width: 875px;
}

.panel .heading {
  display: var(--flex-display);
  justify-content: space-between;
  align-items: var(--center-align);
}

.panel .heading .search {
  width: 250px;
  padding: 2px 7px;
  transition: .4s ease-in-out;
  display: var(--flex-display);
  border: var(--primary-border);
  align-items: var(--center-align);
}

.panel .heading .search input {
  width: 100%;
  border: var(--none-space);
  transition: var(--none-space);
  margin-top: var(--null-space);
  padding-left: var(--null-space);
}

.panel .heading .search input:hover {
  transform: var(--none-space);
  box-shadow: var(--none-space);
}

.panel table {
  width: 875px;
}

.panel tbody {
  gap: 15px;
  flex-wrap: wrap;
  display: var(--flex-display);
}

.panel tr {
  gap: 10px;
  width: 200px;
  height: 285px;
  display: var(--flex-display);
  text-align: var(--center-align);
  align-items: var(--center-align);
  position: var(--relative-position);
  justify-content: var(--center-align);
}

.panel td {
  overflow: hidden;
  top: var(--null-space);
  left: var(--null-space);
  right: var(--null-space);
  width: var(--full-space);
  height: var(--full-space);
  bottom: var(--null-space);
  transition: .4s ease-in-out;
  display: var(--flex-display);
  max-width: var(--full-space);
  cursor: var(--pointer-cursor);
  max-height: var(--full-space);
  border: var(--primary-border);
  align-items: var(--center-align);
  position: var(--absolute-position);
  justify-content: var(--center-align);
}

.panel .none {
  display: block;
  text-align: start;
  cursor: var(--auto-space);
  border: var(--none-space);
}

.panel .none:hover {
  transform: var(--none-space);
  box-shadow: var(--none-space);
}

.panel .background-icon {
  z-index: 1;
  width: 205px;
  height: 290px;
  transition: all 0.4s;
  opacity: var(--null-space);
  display: var(--flex-display);
  cursor: var(--pointer-cursor);
  text-align: var(--center-align);
  align-items: var(--center-align);
  position: var(--absolute-position);
  align-content: var(--center-align);
  background: rgba(15, 6, 25, 0.40);
  justify-content: var(--center-align);
}

.panel .background-icon:hover {
  opacity: 1;
}

.panel #icon {
  color: #e8e8e8;
  display: var(--flex-display);
  justify-content: var(--center-align);
}

.panel .heart {
  color: #c94c4c;
  display: var(--flex-display);
  justify-content: var(--center-align);
}

.panel #icon::before, .panel .fa-regular.fa-heart::before {
  padding: var(--quarter-space);
  border-radius: var(--full-space);
  background: rgba(15, 6, 25, .4);
}

.panel.book .chapters {
  height: 100px;
  display: grid;
  overflow-y: auto;
  overflow-x: hidden;
}