.panel.book {
  min-width: 875px;
  max-width: 875px;
}

.panel .background-icon {
  z-index: 1;
  width: 205px;
  height: 290px;
  transition: all 0.4s;
  opacity: var(--null-space);
  display: var(--flex-display);
  cursor: var(--pointer-cursor);
  text-align: var(--center-align);
  align-items: var(--center-align);
  position: var(--absolute-position);
  align-content: var(--center-align);
  background: rgba(15, 6, 25, 0.40);
  justify-content: var(--center-align);
}

.panel .background-icon:hover {
  opacity: 1;
}

.panel #icon {
  color: #e8e8e8;
  display: var(--flex-display);
  justify-content: var(--center-align);
}

.panel .heart {
  color: #c94c4c;
  display: var(--flex-display);
  justify-content: var(--center-align);
}

.panel #icon::before, .panel .fa-regular.fa-heart::before {
  padding: var(--quarter-space);
  border-radius: var(--full-space);
  background: rgba(15, 6, 25, .4);
}

.panel.book .chapters {
  height: 100px;
  display: grid;
  overflow-y: auto;
  overflow-x: hidden;
}